.header-main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.left-section,
.right-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.left-section {
  z-index: 4;
}

.menu-icon,
.plus-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu-icon {
  display: none;
}

.plus-icon {
  height: 32px;
  width: 32px;
  background-color: var(--header-plus-bg);
  border: 0px;
  border-radius: 50%;
  display: none;
}

.left-section img,
.right-section img {
  width: 24px;
  height: 24px;
}

.name {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.name p {
  font-size: 20px;
  font-weight: 400;
  color: var(--logo-font-color);
}

.name img {
  width: 12px;
  height: 12px;
}

.user {
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.user img {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
}

@media (max-width: 960px) {
  .menu-icon {
    display: flex;
  }

  .plus-icon {
    display: flex;
  }
}
