.setting-main {
  position: absolute;
  width: 320px;
  height: 200px;
  background-color: #424242;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px 0px;
  gap: 2px;
  z-index: 5;
  border: 0;
  border-radius: 6px;
  box-shadow: 0px 0px 40px 15px rgb(0 0 0 / 25%);
  transition: all 0.1s ease-out;
}

.settngs-show {
  left: 0px;
  bottom: 180px;
}

.settings-hide {
  opacity: 0;
  left: -400px;
  bottom: 100px;
}

.title h4 {
  font-size: 16px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.title,
.public-link,
.theme,
.real-time {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 20px;
  cursor: pointer;
}

.public-link:hover,
.theme:hover,
.real-time:hover {
  background-color: #515151;
}

.setting-main img {
  width: 25px;
  height: 25px;
}

.setting-main p {
  font-size: 16px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

@media (max-width: 960px) {
  .setting-main {
    width: 100%;
    bottom: 0px;
    gap: 8px;
    height: 220px;
  }
  .title,
  .public-link,
  .theme,
  .real-time {
    padding: 10px 20px;
  }
}
